*.obj
*.log
*.tlog
*.pch
*.suo
*.sdf
*.user
*.opensdf
*.pdb
*.exe*
*.aps
*.vsp
*.db
*.lib
*.res
*.otf
*.filters
*.ttf
*.ttc
*.vscode
*test.txt
*.test
ipch/
Debug/
Release/
data/
.vs/
out/
*.lastbuildstate


